---
import CreateProposalForm from "../../../components/CreateProposalForm.astro";
import Layout from "../../../layouts/layout.astro";
---

<Layout>
    <h1>Crear propuesta de charla</h1>
    <CreateProposalForm />
</Layout>



