---
import type { ITalk } from '../../lib/types';
import TalkCard from '../TalkCard.astro';



interface Props {
    talks: ITalk[];
}
const { talks } = Astro.props;
---

<section class="my-12">
    <div class="w-4/5 mx-auto space-y-4 mb-12">
        <h2 class="text-4xl font-bold orbitron text-center bg-gradient-to-r from-violet-300 to-blue-300 bg-clip-text text-transparent">
            Conferencias
        </h2>
        <p class="text-center text-2xl">
            Descubre las innovaciones y los descubrimientos que nos acercan a las estrellas.
        </p>
    </div>
    <div
        id="speakers-container"
        class="w-4/5 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
            {talks.map((talk: ITalk) => <TalkCard talk={talk} />)}
    </div>
</section>