---

import MessageLIst from '../../../components/MessageLIst.astro';
import PrivateHeader from '../../../components/PrivateHeader.astro';
import TalkDetail from '../../../components/talkDetail.astro';
import Layout from '../../../layouts/layout.astro';
import { getTalkDetail } from '../../../lib/gateway';
import { getUserTalksRequest } from '../../../lib/gateway';


const sesion = Astro.cookies.get("user_session");
const sesionData = JSON.parse(sesion?.value || "{}");
const { id } = Astro.params;
console.log("id", id);
console.log("sesionData", sesionData);
if (!sesionData || !id) {
    return Astro.redirect("/");
}
const talk = await getTalkDetail(id, sesionData.token)
console.log("talk", talk);
---

<Layout>
    <PrivateHeader />
    <div class="flex gap-4 justify-center">
        <TalkDetail talk={talk} />
        <MessageLIst messages={talk.messages} /> 
    </div>
</Layout>