---
import EventDisplay from "../components/EventsDisplay.astro";
import Layout from "../layouts/layout.astro";
import { getEventsRequest } from "../lib/gateway";
const events = await getEventsRequest();
---

<Layout>
  <h1>Eventos</h1>
  <EventDisplay events={events} />
</Layout>
