---
import LognForm from "../components/Form/LognForm.astro";
import HeaderLogin from "../components/HeaderLogin.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
    <HeaderLogin />
    <section class="w-full h-screen flex items-center justify-center ">
        <div class="w-4/5 mx-auto flex items-center gap-4 flex-col justify-center">
            <LognForm client:load />
        </div>
    </section>
</Layout>
