---

import Header from "../components/Header.astro";
import "../global.css";
import Globe from "../icons/Globe.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap">
	</head>
	<body class="w-full flex flex-col p-0" >
		<main class="w-full">
			<slot />
		</main>
	</body>

</html>
